body {
    background-color: blanchedalmond;
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', sans-serif;
}

h1 {
    margin: 50px auto 10px;
    font-family: 'Sacramento', cursive;
    font-size: 500%;
    color: #66BFBF;
}

h2 {
    font-family: 'Montserrat', serif;
    font-size: 2.5rem; /* 1rem = 16px, 2.5rem = 40px */
    color: #66BFBF;
    padding-bottom: 20px;
}

h3 {
    font-family: 'Montserrat', serif;
    color: #11999E;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-width: 6px;
    border-color: gray;
    width: 5%;
    margin: 100px auto 100px auto;

}

p {
    line-height: 2;
}

a {
    color: #11999E;
    font-family: 'Montserrat', serif;
    margin: 10px 20px 10px 20px;
    text-decoration: none;
}

a:hover {
    color: #ffffff;
}
.top-container {
    background-color: #CEE5D0;
    position: relative;
    padding-top: 100px;
}

.middle-container {
    margin: 100px 0 100px 0;
}

.bottom-container {
    background-color: #95DAC1;
    padding: 50px 0 20px;
}

.contact-message {
    width: 40%;
    margin: 40px auto 60px;
}

.bottom-clound {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.top-clound {
    position: absolute;
    right: 300px;
    top: 50px;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 60%;
}

.subtitle {
    font-weight: normal;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.chillies {
    width: 25%;
    float: right;
    margin-left: 20px;
}

.computer {
    width: 25%;
    border-radius: 50%;
    margin-right: 20px;
    width: 25%;
    float: left;
}

.intro {
    width: 50%;
    margin: auto;
}

.btn {
    background: #07b8b2;
    background-image: -webkit-linear-gradient(top, #07b8b2, #028581);
    background-image: -moz-linear-gradient(top, #07b8b2, #028581);
    background-image: -ms-linear-gradient(top, #07b8b2, #028581);
    background-image: -o-linear-gradient(top, #07b8b2, #028581);
    background-image: linear-gradient(to bottom, #07b8b2, #028581);
    -webkit-border-radius: 14;
    -moz-border-radius: 14;
    border-radius: 14px;
    font-family: 'Montserrat', serif;
    color: #ffffff;
    font-size: 23px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }

  .copyright {
      color: #eaf6f6;
      font-size: 0.75rem;
      padding: 20px 0 10px 0;
  }